.form-inline {
  justify-content: center;
  .form-control-style {
    display: block;
    padding: .375rem .75rem;
    font-size: @base-font-size - 1px;
    line-height: 1.5;
    color: #7f7f7f;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .btn-outline-success {
    background-color: white;
    border-left: 1px solid @dark-bckgr-color;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: -10px;
    &:hover {
      color: @dark-font-color
    }
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .form-inline {
    margin: 0 auto;
  }
}