#carouselExampleIndicators {
  margin: 30px 0;
}
#carouselExampleIndicators .w-70 {
  width: 70%;
  margin: 0 auto;
}
#carouselExampleIndicators .carousel-control-next-icon {
  background-image: url('../images/icon-carousel-right.png');
}
#carouselExampleIndicators .carousel-control-prev-icon {
  background-image: url('../images/icon-carousel-left.png');
}
@media (min-width: 300px) and (max-width: 767px) {
  #carouselExampleIndicators {
    margin: 10px 0;
  }
}
