@base-bckgr-color: #ffffff;
@dark-bckgr-color: #3b3b3b;
@green-elem-color: #81b300;

@base-font-color: #888888;
@light-dark-font-color: #444444;
@dark-font-color: #333333;

@base-font-size: 13px;

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Georgia, serif;
  color: @base-font-color;
}

html {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

h1 {
  color: @dark-font-color;
  font-size: 36px;
}

h3 {
  color: @green-elem-color;
  font-size: @base-font-size + 5px;
}

h4 {
  color: @light-dark-font-color;
  font-size: @base-font-size + 1px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: @green-elem-color;
  &:hover {
    color: @dark-font-color
  }
}

hr {
  background-color: lightgrey;
  height: 1px;
  margin: 0;
  border: 0;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.container {
  border: solid black;
  border-width: 30px 20px;
  font-size: @base-font-size;
  padding: 0;
  min-width: 320px;
}

.block-style {
  padding: 0 30px;
}

header {
  border-top: 5px solid @green-elem-color;
}

footer {
  background: @dark-bckgr-color;
}


@media (min-width: 300px) and (max-width: 767px) {
  .block-style {
    padding: 0 10px;
  }
  h1 {
    font-size: 28px;
  }
}

@import "blocks/header-block/brand-block/brand";
@import "blocks/header-block/nav-block/nav-menu";
@import "blocks/main-block/carousel";
@import "blocks/main-block/sections";
@import "blocks/main-block/projects";
@import "blocks/footer-block/customer-information-block/customer-information";
@import "blocks/footer-block/copyright";