* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Georgia, serif;
  color: #888888;
}
html {
  box-sizing: border-box;
}
body {
  border: solid black;
  border-width: 30px 20px;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
h1 {
  color: #333333;
  font-size: 36px;
}
h3 {
  color: #81b300;
  font-size: 18px;
}
h4 {
  color: #444444;
  font-size: 14px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #81b300;
}
a:hover {
  color: #333333;
}
hr {
  background-color: lightgrey;
  height: 1px;
  margin: 0;
  border: 0;
}
.block-style {
  padding: 0 30px;
}
header {
  border-top: 5px solid #81b300;
}
header .brand {
  display: flex;
  justify-content: space-between;
}
header .brand .brand-name .h1-style {
  margin-top: 30px;
  text-transform: uppercase;
}
header .brand .brand-name .h1-style:first-letter {
  font-size: 46px;
}
header .brand .brand-name .brand-name-description {
  color: #999999;
  font-size: 12px;
}
header .b-socials {
  display: flex;
  flex-direction: column;
}
header .b-socials_social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #81b300;
}
header .b-socials_social-icons .icons-style {
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 5px;
}
header .b-socials_social-icons .icons-style img {
  width: 25px;
  height: 25px;
  padding: 5px;
}
header .b-socials_social-icons .icons-style:hover {
  background-color: #00acee;
}
header .b-socials_customer-logs {
  display: block;
  margin: 37px 0;
}
header .nav-menu {
  background-color: #81b300;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header .nav-menu .nav-pills .nav-item {
  display: inline-block;
  width: auto;
}
header .nav-menu .nav-pills .nav-item .nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
}
header .nav-menu .nav-pills .nav-item .nav-link:hover {
  color: #333333;
}
header .form-inline {
  justify-content: center;
}
header .form-inline .form-control {
  height: 33px;
  color: #7f7f7f;
  border: 0;
  border-radius: 0;
  font-size: 12px;
}
header .form-inline .btn-outline-success {
  background-color: white;
  border-left: 1px solid #3b3b3b;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: -10px;
}
header .form-inline .btn-outline-success:hover {
  color: #333333;
}
main .pictures-carousel {
  padding: 30px 0;
  background-color: #f2f2f2;
}
main .pictures-carousel .carousel-indicators li {
  background-color: black;
}
main .pictures-carousel .carousel-indicators .active {
  background-color: #ffffff;
}
main .pictures-carousel .carousel-inner {
  height: 368px;
  width: 888px;
  border: 1px solid lightgray;
  margin: 0 auto;
}
main .pictures-carousel .carousel-inner .img-block {
  height: 360px;
  width: 880px;
  margin: 4px;
}
main .pictures-carousel .carousel-control-next-icon {
  background-image: url('../images/icon-carousel-right.png');
}
main .pictures-carousel .carousel-control-prev-icon {
  background-image: url('../images/icon-carousel-left.png');
}
main .b-sections,
main .b-projects {
  background-color: #ffffff;
}
main .b-sections_grid-style,
main .b-projects_grid-style {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}
main .b-sections__section img,
main .b-projects__section img {
  display: block;
  margin: 0 auto;
}
main .b-sections__section .section-text h3,
main .b-projects__section .section-text h3,
main .b-sections__section .section-text p,
main .b-projects__section .section-text p {
  text-align: center;
  padding-top: 20px;
}
main .b-sections__project .project-img,
main .b-projects__project .project-img {
  width: 208px;
  height: 138px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
main .b-sections__project .project-img img,
main .b-projects__project .project-img img {
  width: 200px;
  height: 130px;
}
main .b-sections__project .b-project-text h4,
main .b-projects__project .b-project-text h4,
main .b-sections__project .b-project-text p,
main .b-projects__project .b-project-text p {
  padding-top: 20px;
}
main .b-sections__project .b-project-text_link-style,
main .b-projects__project .b-project-text_link-style {
  margin-left: 50%;
  color: #81b300;
}
footer {
  background: #3b3b3b;
}
footer .b-customer-information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 20px;
}
footer .b-customer-information .h3-footer-styles {
  text-transform: uppercase;
  color: #666666;
  display: block;
  margin: 30px 0;
}
footer .b-customer-information_text-style:not(:first-child) {
  margin-top: 20px;
}
footer .b-customer-information__quick-links {
  line-height: 2;
}
footer .b-customer-information__quick-links_quick-links-style:hover {
  color: #00acee;
  text-decoration: none;
}
footer .b-customer-information__from-blog_blog-links-style {
  margin-left: 50%;
  color: #81b300;
}
footer .b-customer-information__from-blog_blog-links-style:hover {
  color: #81b300;
}
footer .b-customer-information__newsletter-form form {
  display: flex;
  flex-direction: column;
}
footer .b-customer-information__newsletter-form form input {
  border-radius: 4px;
  max-width: 500px;
  height: 40px;
  min-width: 225px;
  background-color: #222222;
  padding: 5px;
}
footer .b-customer-information__newsletter-form form input:not(:first-child) {
  margin-top: 10px;
}
footer .b-customer-information__newsletter-form button {
  text-transform: uppercase;
  font-weight: bold;
  position: center;
  padding: 5px;
  margin-top: 10px;
  color: #303030;
  border-radius: 4px;
  max-width: 75px;
}
footer .copyright {
  padding: 25px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
}
