* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Georgia, serif;
  color: #888888;
}
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
h1 {
  color: #333333;
  font-size: 36px;
}
h3 {
  color: #81b300;
  font-size: 18px;
}
h4 {
  color: #444444;
  font-size: 14px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #81b300;
}
a:hover {
  color: #333333;
}
hr {
  background-color: lightgrey;
  height: 1px;
  margin: 0;
  border: 0;
}
button:hover {
  cursor: pointer;
}
.container {
  border: solid black;
  border-width: 30px 20px;
  font-size: 13px;
  padding: 0;
  min-width: 320px;
}
.block-style {
  padding: 0 30px;
}
header {
  border-top: 5px solid #81b300;
}
footer {
  background: #3b3b3b;
}
@media (min-width: 300px) and (max-width: 767px) {
  .block-style {
    padding: 0 10px;
  }
  h1 {
    font-size: 28px;
  }
}
.brand {
  display: flex;
  justify-content: space-between;
}
.b-brand-name__h1 {
  text-transform: uppercase;
}
.b-brand-name__h1:first-letter {
  font-size: 46px;
}
.b-brand-name__h1_style {
  margin-top: 30px;
}
.b-brand-name__p {
  color: #999999;
  font-size: 12px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .b-brand-name__h1:first-letter {
    font-size: 36px;
  }
  .b-brand-name__h1_style {
    margin-top: 10px;
  }
}
.socials {
  display: flex;
  flex-direction: column;
}
.socials .customer-logs {
  display: block;
  margin: 37px 0;
}
@media (min-width: 300px) and (max-width: 767px) {
  .socials {
    margin: 0 auto;
  }
  .socials .customer-logs {
    margin: 20px 0;
  }
}
.b-social-icons {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  background-color: #81b300;
  align-items: center;
}
.b-social-icons_icon-style {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.b-social-icons__a {
  background-color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 5px;
}
.b-social-icons__a:hover {
  background-color: #00acee;
}
.b-social-icons__img {
  width: 25px;
  height: 25px;
  padding: 5px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .b-social-icons_icon-style {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
  }
}
.nav-menu {
  background-color: #81b300;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-menu .nav-pills .nav-item {
  display: inline-block;
  width: auto;
}
.nav-menu .nav-pills .nav-item .nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
}
.nav-menu .nav-pills .nav-item .nav-link:hover {
  color: #333333;
}
@media (min-width: 300px) and (max-width: 767px) {
  .nav-menu {
    padding: 10px;
  }
}
.form-inline {
  justify-content: center;
}
.form-inline .form-control {
  height: 33px;
  color: #7f7f7f;
  border: 0;
  border-radius: 0;
  font-size: 12px;
}
.form-inline .btn-outline-success {
  background-color: white;
  border-left: 1px solid #3b3b3b;
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: -10px;
}
.form-inline .btn-outline-success:hover {
  color: #333333;
}
@media (min-width: 300px) and (max-width: 767px) {
  .form-inline {
    margin: 0 auto;
  }
}
#carouselExampleIndicators {
  margin: 30px 0;
}
#carouselExampleIndicators .w-70 {
  width: 70%;
  margin: 0 auto;
}
#carouselExampleIndicators .carousel-control-next-icon {
  background-image: url('../images/icon-carousel-right.png');
}
#carouselExampleIndicators .carousel-control-prev-icon {
  background-image: url('../images/icon-carousel-left.png');
}
@media (min-width: 300px) and (max-width: 767px) {
  #carouselExampleIndicators {
    margin: 10px 0;
  }
}
.b-sections {
  background-color: #ffffff;
}
.b-sections_grid-style {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}
.b-sections__img {
  display: block;
  margin: 0 auto;
}
.b-sections__text_h3,
.b-sections__text_p {
  text-align: center;
  padding-top: 20px;
}
@media (min-width: 300px) and (max-width: 767px) {
  .b-sections_grid-style {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.b-projects {
  background-color: #ffffff;
}
.b-projects_grid-style {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.b-projects__img-wrap {
  width: 208px;
  height: 138px;
}
.b-projects__img-wrap_style {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.b-projects__img {
  width: 200px;
  height: 130px;
}
.b-projects__img:hover {
  opacity: .2;
}
.b-projects__text_h4,
.b-projects__text_p {
  padding-top: 20px;
}
.b-projects__text_link-style {
  margin-left: 50%;
  color: #81b300;
}
@media (max-width: 576px) {
  .b-projects__img-wrap,
  .b-projects__img {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .b-projects_grid-style {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-row-gap: 10px;
  }
}
.b-customer-information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 20px;
}
.b-customer-information_style {
  padding-bottom: 20px;
}
.b-customer-information_h3 {
  text-transform: uppercase;
  color: #666666;
  display: block;
  margin: 30px 0;
}
@media (min-width: 300px) and (max-width: 767px) {
  .b-customer-information {
    grid-row-gap: 10px;
  }
  .b-customer-information_h3 {
    margin: 10px 0;
  }
}
.b-customer-information__contacts_p:not(:first-child) {
  margin-top: 20px;
}
.b-customer-information__quick-links {
  line-height: 2;
}
.b-customer-information__quick-links_a:hover {
  color: #00acee;
  text-decoration: none;
}
.b-customer-information__from-blog_p {
  font-weight: 400;
  font-size: 14px;
}
.b-customer-information__from-blog_a {
  margin-left: 50%;
  color: #81b300;
}
.b-customer-information__from-blog_a:hover {
  color: #81b300;
}
.b-customer-information__form {
  display: flex;
  flex-direction: column;
}
.b-customer-information__form_input {
  border-radius: 4px;
  max-width: 500px;
  height: 40px;
  min-width: 225px;
  background-color: #222222;
  padding: 5px;
}
.b-customer-information__form_input:not(:first-child) {
  margin-top: 10px;
}
.b-customer-information__form_newsletter-button {
  text-transform: uppercase;
  font-weight: bold;
  position: center;
  padding: 5px;
  margin-top: 10px;
  color: #81b300;
  background-color: #222222;
  border-radius: 4px;
  max-width: 75px;
}
.b-customer-information__form_newsletter-button:hover {
  color: #00acee;
}
.copyright {
  padding: 25px;
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
}
